# /
/ER_Diagram
/.DS_Store
/.env
/node_modules

# /client/
/client/.DS_Store

# /client/android/
/client/android/.DS_Store
/client/android/.metadata/
/client/android/.settings/
/client/android/.classpath
/client/android/bin/

# /server/

#/server/node_modules
/server/node_modules

# /server/config
/server/config/development.js
/server/config/production.js
