# /
/ER_Diagram

# /client/android/
/client/android/bin/
/client/android/.DS_Store
/client/.DS_Store
/.DS_Store
/config/
/node_modules/
/client/android/.metadata/
/client/android/.settings/
/client/android/.classpath

# /server/

#/server/node_modules
/server/node_modules


# /server/config
/server/config/development.js
/server/config/production.js
