!!!
html
    head

    body
        form(action='/list/current', method='POST')
            input(type="text", placeholder="user id", name="userid")
            input(type="text", placeholder="latitude", name="latitude")
            input(type="text", placeholder="longitude", name="longitude")
            input(type='submit')
